[user]
        name = {{gitusername}}
        email = {{gitemail}}
[color]
        status = auto
        branch = auto
        ui = auto
[core]
        autocrlf = input
        editor = vim
[fetch]
        prune = true
[push]
        default = upstream
[pull]
        rebase = true
[rebase]
        autostash = true
[help]
        autocorrect = 1
[alias]
        lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
        lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
        lg = !"git lg1"
        st = status -sb
        co = checkout
        rb = rebase
