[Desktop Entry]
Name=Google Chrome
Type=Application
Exec=/opt/google/chrome/google-chrome
Terminal=false
Icon=/opt/google/chrome/product_logo_256.png
NoDisplay=false
Categories=Network;WebBrowser;
Name[en]=Google Chrome